<p>Sorry, nothing appropriate has been found.  Please search again using different parameters.</p>
<form action='/search' method='get'>
  <input type='text' name='option'>
  <button>Go!</button>
</form>